.confirmation__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.confirmation__wrapper--container {
    position: relative;
    flex: 90;
    height: 100%;
    background-color: hsla(228, 100%, 84%, 0.3);
}


.confirmation__wrapper--content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.5em;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    min-height: 400px;
    width: 90%;
    background-color: var(--white);
    border-radius: 10px;
}

.confirmation__wrapper--header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.confirmation__content--image {
    width: 80px;
    height: 80px;
    margin-bottom: 1em;
}

.confirmation__wrapper--title {
    color: var(--marine-blue);
    font-weight: --font-weight-very-bold;
}

.confirmation__wrapper--description {
    color: var(--cool-gray);
    text-align: center;
}

@media (min-width:900px) {

    .confirmation__wrapper--container {
        background-color: var(--white);
    }

    .confirmation__wrapper--content {
        position: static;
        transform: none;
        margin-left: 3em;
    }
}