.billing__input {
    opacity: 0;
    position: absolute;
}

.toggle__slider {
    position: relative;
    display: block;
    width: 3em;
    height: 1.5em;
    border-radius: 20px;
    background-color: var(--marine-blue);
}

.toggle__slider::after {
    position: absolute;
    display: block;
    content: "";
    width: 0.9em;
    height: 0.9em;
    background-color: var(--white);
    border-radius: 50%;
    top: 0.3em;
    left: 0.3em;
    transition: all 0.3s ease;
}

.billing__input:checked + .toggle__slider::after {
    transform: translateX(1.4em);
}
