/* Layout */
.formik__form {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__group > label {
  font-weight: var(--font-weight-medium);
}

.input__text {
  display: flex;
  justify-content: space-between;
}

.valid {
  border: 1px solid var(--cool-gray);
  outline: 1px solid var(--purplish-blue);
}

.error {
  outline: 1px solid red;
  border: 1px solid red;
}

.error:hover,
.error:focus {
  border: 1px solid red;
  outline: 1px solid red;
}

/* NORMAL/BIG PHONES LAYOUT HERE */
@media (min-height: 740px) {
  .form__group {
    gap: 0.5em;
  }

  .form__group > label {
    font-size: clamp(0.9rem, 3vw, 1rem);
  }

  .form__group > input {
    font-size: 1rem;
  }
}

/* DESKTOP LAYOUT HERE*/
@media (min-width: 900px) {
  .form {
    margin: 0;
  }
}
