.add__on--h3 {
    font-size: 14px;
}

.add__on--p {
    color: var(--cool-gray);
    white-space: nowrap;
    font-size: 11px;
}

.add__ons {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.add__ons--row {
    display: flex;
    align-items: center;
    gap: 1em;
    border: 1px solid var(--cool-gray);
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
    transition: all 0.2s ease;
}

.add__ons--row:hover {
    border-color: var(--purplish-blue);
    background-color: hsla(243, 100%, 62%, 0.1);
}

.add__ons--row:has(input[type=checkbox]:checked) {
    border-color: var(--purplish-blue);
    background-color: hsla(243, 100%, 62%, 0.1);
}

.add__on {
    display: flex;
    align-items: center;
    gap: 1em;
    flex: 1;
}

.add__on--price {
    color: var(--purplish-blue);
    font-weight: 600;
    margin-left: auto;
}

@media (min-width: 900px) {

    .add__on--h3 {
        font-size: clamp(1rem, 3vw, 1rem);
    }

    .add__on--p {
        font-size: clamp(0.8rem, 3vw, 0.9rem);
    }

    .add__ons {
        gap: 1em;
    }
}