.plan__input {
    opacity: 0;
    position: absolute;
}

.plan__input:checked + .plan__content {
    border-color: var(--purplish-blue);
    background-color: hsla(243, 100%, 62%, 0.1);

}

.icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plans {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.plan__content:hover, .plan__content:checked {
    border-color: var(--purplish-blue);
    background-color: hsla(243, 100%, 62%, 0.1);
}

.plan:last-child {
    margin-bottom: 2em;
}

.plan__content {
    position: relative;
    display: flex;
    gap: 1em;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
}

.free__months--text {
    position: absolute;
    right: 5px;
    top: 15px;
    background-color: var(--purplish-blue);
    color: var(--white);
    font-size: 12px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 10;
}


.billing__label {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.billing__label h4 {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.billing__label.not-checked h4:last-child{
    opacity: 0.3;
}

.billing__label.is-checked h4:first-child{
    opacity: 0.3;
}

.billing__toggler {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    background-color: hsla(243, 100%, 62%, 0.1);
    cursor: pointer;
}
