picture {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    list-style: none;
}

.form__bg {
    height: 100vh;
    width: 100vw;
}

.form {
    height: 100%;
}

.form__container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.progress_bar {
    flex: 30;
    width: 100%;
    height: 100%;
    position: relative;
}

.form-content {
    height: 100%;
}

.list__info {
    display: flex;
    gap: 1.3em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.step-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: var(--white);
    font-weight: var(--font-weight-bold);
    width: 40px;
    height: 40px;
    border: 1px solid var(--white);
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.step-number.active {
    color: var(--marine-blue);
    background-color: var(--white);
}

.step-content {
    display: none;
}

@media (min-width:900px) {

    /* ============================= */
    /* Background Section            */
    /* ============================= */
    .form__bg {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--light-blue);
    }

    /* ============================= */
    /* Form Section                  */
    /* ============================= */
    .form {
        background-color: var(--white);
        width: min(950px, 90%);
        height: min(550px, 70%);
        margin: 0 auto;
        padding: 1em;
        border-radius: 20px;
    }

    /* ============================= */
    /* Form Container Section        */
    /* ============================= */
    .form__container {
        display: flex;
        flex-direction: row;
    }

    /* ============================= */
    /* Progress Bar (Aside) Section  */
    /* ============================= */
    .progress_bar {
        border-radius: 20px;
        flex: 35;
    }

    .list__info {
        gap: 1.5rem;
        top: 40px;
        left: 25px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        transform: none;
    }

    .list__step {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .step-content {
        display: block;
    }

    .step-label {
        font-size: 0.9rem;
        color: var(--white);
    }

    .step-title {
        font-size: 1rem;
        color: var(--white);
    }

    .bg__picture > img{
        border-radius: 15px;
    }

    /* ============================= */
    /* Main Content Section          */
    /* ============================= */
    .form-content {
        flex: 65;
    }
}